body{
    background-image: url('/assets/images/짱구3.jpg') ;
    background-repeat: no-repeat;
    /* background: size 500px; */
    background-size: cover;
    font-family: 'NanumGgocNaeEum';
    font-size: 20px;
    font-weight: bold;
}
form{
    padding-left: 20px;
    padding-top: 50px;
    text-align: center;
}
div{
    padding-bottom: 30px;
}
input{
    height: 10px; 
    border: 1.5px solid;
}
#submit{
    background-image: url(../images/제출\ 아이콘2.png);
    font-family: 'NanumGgocNaeEum';
    font-weight: bold;
    background-color:rgb(255, 255, 255);
    border: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    background-size: 70px;
   
}
h1{
    padding-top: 40px;
    text-align: center;
}
#back{
    font-family: 'NanumGgocNaeEum';
    font-weight: bold;
    background-image: url(../images/돌아가기\ 아이콘.png);
    background-color:rgb(255, 255, 255);
    border: solid 2px rgb(29, 31, 31);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    padding: 15px;
    padding-right: 50px;
    position: relative;
    top: 100px;
    left: 1000px;
}