body{
    font-family: 'NanumGgocNaeEum';
    background-image: url('/assets/images/짱구7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    color: rgb(89, 100, 100);
}
h1{
    text-align: center;
    font-size: 50px;
}
table,th,td{
    border: 2px solid  rgb(89, 100, 100);
}
table{
    background-color:  rgb(255, 255, 255);
    border-collapse: collapse;
    width: 700px;
    margin: auto;
    text-align: center;
}
thead{
    font-size: 30px;
    border-bottom: 7px double rgb(89, 100, 100);
}
.delete{
  background-image: url(../images/삭제\ 아이콘.png) ;
  background-size: cover;
  background-color : rgb(255, 255, 255);
  border: solid 1px rgb(185, 179, 179);
  background-position: center;
  background-repeat: no-repeat;
  padding: 15px;
}
.edit{
    background-image: url(../images/수정\ 아이콘.png);
    background-color:rgb(255, 255, 255);
    border: solid 1px rgb(185, 179, 179);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
    /* background-repeat: no-repeat; */
}
#back{
    font-family: 'NanumGgocNaeEum';
    font-weight: bold;
    color: rgb(89, 100, 100);
    background-image: url(../images/돌아가기\ 아이콘.png);
    background-color:rgb(255, 255, 255);
    border: solid 2px rgb(89, 100, 100);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    padding: 15px;
    padding-right: 50px;
    position: relative;
    top: 400px;
    left: 1300px;
}