<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumGgocNaeEum.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/add-user.css">
</head>
<body>
    <!-- 이건 유저를 추가하는 페이지 -->
    <!-- 숙제 : userlist 페이지를 만들어와 ?   /list -> user-list.html -> ul,li 임의로 넣어놔 만들어서 ul, div 상관 없음    -->
    <!-- POST method으로 보낸다는 뜻 -->
    <h1>회원 등록</h1>
    <form action="/users" method="post">
        
            <div><label>제 이름은 <input type="text" autofocus></label> 이구요</div>
            <div><label>나이는 <input type="text"></label> 쨜 입니댜</div>
            <div>저는
                <label>남자<input type="radio" name="gender" id=""></label>
                <label>여자<input type="radio" name="gender" id=""></label> 이구요
            </div>
            <div><label>하는 일은 <input type="text"></label> 입니당!</div>
        <button type="submit">제출하기</button>
    </form>
</body>
</html>