<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- POST method으로 보낸다는 뜻 -->
    <form action="/users" method="post">
        
            <div>name <input type="text"></div>
            <div>age <input type="text"></div>
            <div>gender
                man<input type="checkbox" name="" id="man">
                woman<input type="checkbox" name="" id="woman">
            </div>
            <div>job <input type="text"></div>
       
        <button type="submit">제출하기</button>
    </form>
    <!-- name, age, gender, job -->
</body>
</html>