<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumGgocNaeEum.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/edit-user.css">
    <script src="../assets/js/edit-front.js" defer ></script>
</head>
<body>
    <h1>회원 정보 수정</h1>
    <form action=""></form>
        <table>
            <thead>
                <tr>
                    <th>이름</th>
                    <th>나이</th>
                    <th>성별</th>in
                    <th>직업</th>
                    <th>제출하기</th>
                </tr>
             </thead>
             <tbody>
                <tr>
                    <td>개똥이</td>
                    <td>2</td>
                    <td>여</td>
                    <td>똥</td>
                    <td><button id="submit"  type="submit"></button></td>
                 </tr>
            </tbody>
        </table>
    </form>
    <!-- <a id="back" href="./register.html">홈페이지로 돌아가기 ♡</a> -->
    <a href="http://localhost:8080/add"><button class="back" >회원 등록으로 나가기</button></a>
    <a href="http://localhost:8080/list"><button class="back" >회원 목록으로 나가기</button> </a>
</body>
</html>