<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            href="https://hangeul.pstatic.net/hangeul_static/css/NanumGgocNaeEum.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../assets/css/user-list.css" />
        <script src="../assets/js/list-front.js" defer></script>
    </head>

    <body>
        <h1>회원 목록</h1>
        <a href="http://localhost:8080/add"><button id="back" >회원 추가</button></a>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>나이</th>
                    <th>성별</th>
                    <th>직업</th>
                    <th>삭제</th>
                    <th>수정</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>박유진</td>
                    <td>28</td>
                    <td>여자</td>
                    <td>개발자 꿈나무</td>
                    <td><button class="delete"></button></td>
                    <td><button class="edit"></button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>박수현</td>
                    <td>29</td>
                    <td>여자</td>
                    <td>개발자</td>
                    <td><button></button></td>
                    <td><button></button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>박정숙</td>
                    <td>26</td>
                    <td>여자</td>
                    <td>공무원</td>
                    <td><button></button></td>
                    <td><a href="./edit-user.html"><button></button></a></td>
                </tr>
            </tbody>
        </table>
        
    </body>
</html>
